<html>
  <div>
      <h1>H1 tag</h1>
      <p>This is the main page for the casework style guide.</p>
      <p>You should only use 1 H1 tag per page.</p>
      <p>This is a p tag.  Use it for paragraphs.</p>
      <h2>H2 tag</h2>
      <h3>H3 tag</h3>
      <h4>H4 tag</h4>
      <h5>H5 tag</h5>
      <h6>H6 tag</h6>
      <fieldset>
        <legend>This is a fieldset's legend tag</legend>
        <p>This is a p tag within a fieldset</p>
      </fieldset>
      <table>
        <tr>
        <th>
          Table header
        </th>
        </tr>
        <tr>
          <td>Table cell</td>
        </tr>
      </table>
      <ul>
        <li>Unordered list</li>
      </ul>
      <ol>
        <li>
          Ordered list
        </li>
      </ol>
      <input type="text" name="bob"/>
      <a href="www.google.co.uk">Link to Google</a>
      <input type="submit" value="submit"/>
  </div>
</html>
