<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>What we think the users want</title>
    <div>
        <h1>What we think users want</h1>
        <ul>
            <li>Simple to use, doesn't need a manual</li>
            <li>Easy to see and read</li>
            <li>Responsive, fast, not flaky</li>
            <li>Looks and feels relevant to the outside world. Will level up users in worldly web skills</li>
            <li>Obvious to identify where you are and what you are doing</li>
            <li>Gives a sense of ownership, because we've listened to and designed with users</li>
            <li>Provides a feeling of doing a good job</li>
        </ul>
        <h2>Ipad effect (didn't want it, can't live without it now)</h2>
        <p>We should present real problems to users and ask them to tackle the problem with our solution.</p>
        <p>Users aren't great designers, we should avoid asking users to actually design stuff.</p>
    </div>
</head>
<body>

</body>
</html>